{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(../images/dd.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menu-bar{
    background-color:rgba(99, 99, 99, 0.4);
    text-align:center;
}
.menu-bar ul{
    display: inline-flex;
    list-style:none;
    font-size: 15px;
}
.menu-bar ul li{
    width: 180px;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li :hover
{
    background-color:rgba(252, 227, 227, 0.288);
    border-radius: 3px;
}
.header{ 
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    margin:10px;
    font-size: 15px;
    letter-spacing: 2px;
    font-family:'Times New Roman', Times, serif ;
    font-style: italic;
}
.inner-header{
    width: 200px;
    height: 69px;
    display: block;
    margin: 0 auto;
    border-bottom:  1px solid white;
    
}
table, th, td {
    
    border: 1px solid rgb(253, 250, 250);
    color: white;
    background-color: rgba(54, 54, 54, 0.212);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
  }
table {
    width: 100%;
    height: 1cm;
    border-collapse: collapse;
}
td {
    text-align: center;
  }
th {
    height: 40px;
}
.sviTermini tr:hover {background-color: #c2c2c27e;}

.kriterijum{
margin-top: 1cm;
width: 100%;
background-color: rgba(0, 0, 0, 0.822);
}
.kriterijum th{
    height: 1.25cm;
}
.kriterijum ::placeholder{
    font-size: 10px;
    text-align: center;
}
.kriterijum th:hover {background-color: #c2c2c27e;}
