{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(../images/admin.png);
    background-size: cover;
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menu-bar{
    background-color:rgba(0, 0, 0, 0.541);
    text-align:center;
}
.menu-bar ul{
    display: inline-flex;
    list-style:none;
    font-size: 15px;
}
.menu-bar ul li{
    width: 180px;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li :hover
{
    background-color:rgba(173, 173, 173, 0.288);
    border-radius: 3px;
}
.reg-form{
    width: : 280px;
    padding:20px;
    top: 82%;
    left: 48%;
    transform : translate(-50%,-50%);
    position: absolute;
}
h1{
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    margin:10px;
    margin-top:40px;
    font-size: 40px;
    letter-spacing: 5px;
    font-family:'Times New Roman', Times, serif ;
    
}
.reg-form p{
  margin-left: 1cm;
}

.reg-form input {
  margin-left: 1cm;
    font-size: 15px;
    width: 70%;
    padding: 15px 5px;
    border: 0;
    outline: none;
    border-radius: 7px;
}
.reg-form button{
    font-size:18px;
    font-weight: bold;
    margin-left: 36px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 10px;
    border 0;
    color: black;
}
.reg-form p{
    color: white;
    font-size: 5mm;
    margin-bottom: 2mm;
    margin-top: 2mm;
}
.reg-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 40px;
  cursor: pointer;
  font-size: 17px;
  color:white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reg-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 50%;
}

.reg-radio:hover input ~ .checkmark {
  background-color: #ccc;
}


.reg-radio input:checked ~ .checkmark {
  background-color: #4490bd;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.reg-radio input:checked ~ .checkmark:after {
  display: block;
}


.reg-radio .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
}
.fitness{
  margin-left: 1cm;
  margin-bottom: 5mm;
}

#prikaziCentar{
  background-color:rgba(37, 37, 37, 0.411);
  color: white;
  width: 2cm;
  height: 1cm;
  font-size: 10px;
  text-align: center;
  position: absolute;
  right: 228px;
  padding-top:7px;
  font-family: 'Times New Roman', Times, serif;
  top: 730px;

}
#dropdownlist{
  background-color:rgba(37, 37, 37, 0.753); 
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;

}

.tabela1{
  margin-left: 84%;
  margin-top: 60%;
  right:-200px;
  top: 950px;
  color: rgb(248, 246, 246);
  background-color: rgba(68, 67, 67, 0.212);
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  width: 6cm;
  font-weight: bolder;
  
}
.tabela1 button{
  width: 100%;
  color: rgb(224, 22, 22);
  font-size: 12px;
  font-weight: bolder;
  background-color:white;
}
.tabela1 tr:hover {background-color: #c2c2c27e;}