{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(../images/login.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menu-bar{
    background-color:rgba(0, 0, 0, 0.4);
    text-align:center;
}
.menu-bar ul{
    display: inline-flex;
    list-style:none;
    font-size: 15px;
}
.menu-bar ul li{
    width: 180px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li :hover
{
    background-color:rgba(252, 227, 227, 0.288);
    border-radius: 3px;
}
.login-form{
    width: : 350px;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    position: absolute;
}
.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin:40px 0;
    color: white;
}
.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 7px;
}
.login-form button{
    font-size:18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 10px;
    border 0;
    color: black;
}
.login-form p{
    color: white;
    font-size: 5mm;
}
